<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.mobtion.pluginjson"
    version="1.0.0">
    <name>Cordova Plugin JSON</name>
    <description></description>
    <license>UNLICENSED</license>
    <keywords>cordova,json</keywords>
    <repo>https://github.com/juanpagb2/JSONPlugin.git</repo>
    <!-- <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue> --> -->

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="PluginJSON" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="PluginJSON">
          <param name="android-package" value="com.mobtion.pluginjson.PluginJSON" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/pluginjson/PluginJSON.java" target-dir="src/com/mobtion/pluginjson/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="PluginJSON" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="PluginJSON">
                <param name="ios-package" value="pluginjson" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/PluginJSON.h" />
        <source-file src="src/ios/PluginJSON.m" />
    </platform>
</plugin>
